<footer>
    <div class="screen-container">

        <div class="container-footer">

            <div class="footer-own-group">
                <div class="footer-own-group-p">
                    <p>Create your own Meetup group.</p>
                </div>
                <button id="getStartedButton" class="get-started-button">Get Started</button>
            </div>

            <div class="footer-information">
                <div class="footer-content">
                    <p class="footer-p">Your Account</p>
                    <div class="footer-descriptions">
                        <a href="">Sign up</a>
                        <a href="">Log in</a>
                        <a href="">Help</a>
                        <a href="">Become an Affiliate</a>
                    </div>
                </div>
                <div class="footer-content">
                    <p class="footer-p">Discover</p>
                    <div class="footer-descriptions">
                        <a href="">Groups</a>
                        <a href="">Calendar</a>
                        <a href="">Topics</a>
                        <a href="">Cities</a>
                        <a href="">Online Events</a>
                        <a href="">Local Guides</a>
                        <a href="">Make Friends</a>
                    </div>
                </div>
                <div class="footer-content">
                    <p class="footer-p">Meetup</p>
                    <div class="footer-descriptions">
                        <a href="">About</a>
                        <a href="">Blog</a>
                        <a href="">Meetup Pro</a>
                        <a href="">Careers</a>
                        <a href="">Apps</a>
                        <a href="">Podcast</a>
                    </div>
                </div>
            </div>

            <div class="footer-social-networks">
                <p class="footer-p">Follow us</p>
                <div class="footer-social-networks-icons">
                    <div class="footer-icons">
                        <a href=""><img src="../assets/icons/facebook.svg" alt="Facebook"></a>
                        <a href=""><img src="../assets/icons/twitter.svg" alt="Twitter"></a>
                        <a href=""><img src="../assets/icons/youTube.svg" alt="YouTube"></a>
                        <a href=""><img src="../assets/icons/instagram.svg" alt="Instagram"></a>
                        <a href=""><img src="../assets/icons/tikTok.svg" alt="TikTok"></a>
                    </div>
                    <div class="footer-pay">
                        <a href=""><img src="../assets/icons/google_play.svg" alt="Google Play"></a>
                        <a href=""><img src="../assets/icons/app_store.svg" alt="App Store"></a>
                    </div>
                </div>
            </div>

            <div class="footer-about">
                <p>© 2024 Meetup</p>
                <a href="">Terms of Service</a>
                <a href="">Privacy Policy</a>
                <a href="">Do Not Sell or Share My Personal Data</a>
                <a href="">Cookie Policy</a>
                <a href="">Help</a>
            </div>



        </div>
    </div>
</footer>