<nav>
    <div class="container-nav-logo">
        <a href="index.html">
            <img src="assets/icons/meetup_logo.svg" alt="meetup">
        </a>
    </div>
    <div class="container-nav-search-box">
        <img src="assets/icons/icon_search.svg" alt="search">
        <input type="text" id="searchEvents" placeholder="Search events">
        <input type="text" id="searchCity" placeholder="Mountain View, CA">
        <button>
            <img src="assets/icons/icon_search_invert.svg" alt="search">
        </button>
    </div>
    <div class="container-nav-empty"></div>
    <div class="container-nav-login">
        <div class="box-language-logo">
            <img src="assets/icons/icon_world.svg" alt="world">
            <button id="languageNavMenu">English</button>
        </div>

        <button id="logInNavMenu">Log in</button>
        <button id="signUpNavMenu">Sign up</button>
    </div>
</nav>